* {
	foreground: #c0caf5;
	background:	#24283b;
	background-alt:	#363A4F;
	border: #7dcfff;
	prompt-fg: #c0caf5;
	prompt-bg: #363A4F;
	item-selected-fg: #ffffff;
	item-selected-bg: #363A4F;
	item-highlight: #C6A0F6;
	button-selected-fg: #ffffff;
	button-selected-bg: #8AADF4;
}
