[Desktop Entry]
Type=Application
Name=Gmail
Exec=/usr/bin/brave --new-window --app=https://gmail.com
Icon=gmail
Comment=Gmail Web App
StartupNotify=true
