[Desktop Entry]
Type=Application
Name=WhatsApp
Exec=/usr/bin/brave --new-window --app=https://web.whatsapp.com
Icon=whatsapp
Comment=WhatsApp Web App
StartupNotify=true
