ACTION=="change"\
	, SUBSYSTEM=="power_supply"\
	,	ENV{POWER_SUPPLY_MODEL_NAME}=="M720 Triathlon Multi-Device Mouse"\
	, ENV{POWER_SUPPLY_STATUS}=="Discharging"\
	, RUN+="/usr/local/bin/setup-logitech-m720"
