files = [emojis]
skin-tone = neutral
prompt = emoji
max-recent = 0
action = type
clipboarder = xclip
typer = xdotool
hidden-descriptions = true
selector-args = -eh 1 -matching normal -theme "rofimoji.rasi"
keybinding-copy = Control+c
