@import "shared/colors.rasi"

* {
	font: "mono 14";
	text-color: var(foreground);
	background-color:	var(background);
}

window {
	location: north;
	y-offset: 30%;
	width: 400px;
	border-color: var(border);
	border: 1px solid;
	border-radius: 12px;
}

inputbar {
	padding: 0px 5px;
	children: [entry, prompt];
}

entry {
	expand:	true;
	padding: 5px;
	vertical-align: 0.5;
	width: 100%;
}

prompt,
num-rows,
num-filtered-rows {
	color: var(prompt-fg);
	background-color: var(prompt-bg);
	width: 100px;
	padding: 5px;
	vertical-align: 0.5;
}

textbox {
	horizontal-align: 0.5;
}

listview {
	border: 1px 0px 0px 0px;
	border-color: var(border);
	layout: vertical;
	lines: 5;
	dynamic: false;
	fixed-height: true;
	cycle: false;
	require-input: false;
}

element {
	padding: 0 10px;
	children: [element-text];
}

element selected,
element-icon selected,
element-text selected {
	text-color: var(item-selected-fg);
	background-color:	var(item-selected-bg);
}

element-text,
element-text selected {
  highlight: var(item-highlight);
	vertical-align: 0.5;
}

element-icon {
	size: 16;
	padding: 0px 5px 0px 0px;
}

mode-switcher {
	spacing: 5px;
}

