@import "shared/colors.rasi"
@import "default.rasi"

window {
	width: 500px;
}

listview {
	layout: vertical;
	flow: horizontal;
	columns: 10;
	lines: 9;
	fixed-height: false;
	fixed-columns: false;
	cycle: false;
	require-input: false;
}

element {
	orientation: vertical;
	children: [element-text];
}

element-text,
element-text selected {
	font: "sans 16";
	highlight: var(item-highlight);
	vertical-align: 0.5;
	horizontal-align: 0.5;
}
