[Desktop Entry]
Type=Application
Name=Calendar
Exec=brave-profile Personal --new-window --app=https://calendar.google.com
Icon=google-agenda
Comment=Calendar Web App
StartupNotify=true
