[Desktop Entry]
Type=Application
Name=DevDocs
Exec=brave-profile Personal --new-window --app=https://devdocs.io
Icon=devdocs
Comment=DevDocs Web App
StartupNotify=true
