[Desktop Entry]
Type=Application
Name=Gmail
Exec=brave-profile Personal --new-window --app=https://gmail.com
Icon=gmail
Comment=Gmail Web App
StartupNotify=true
