[Desktop Entry]
Type=Application
Name=Notion
Exec=brave-profile Personal --new-window --app=https://notion.so
Icon=notion
Comment=Notion Web App
StartupNotify=true
