[Desktop Entry]
Type=Application
Name=Notion
Exec=/usr/bin/brave --new-window --app=https://notion.so
Icon=notion
Comment=Notion Web App
StartupNotify=true
