[Desktop Entry]
Type=Application
Name=TickTick
Exec=brave-profile Personal --new-window --app=https://ticktick.com/webapp
Icon=ticktick
Comment=TickTick Web App
StartupNotify=true

