[Desktop Entry]
Type=Application
Name=WhatsApp
Exec=brave-profile Personal --new-window --app=https://web.whatsapp.com
Icon=whatsapp
Comment=WhatsApp Web App
StartupNotify=true
