[Desktop Entry]
Type=Application
Name=YouTube
Exec=brave-profile Personal --new-window --app=https://youtube.com
Icon=youtube
Comment=YouTube Web App
StartupNotify=true
